a.navbar:link {
    color:white;
    font-weight: bold;
}

.container_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image_header{
    width: 120px;
    height: 70px;
}